/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --font: "Roboto", Arial, Helvetica, sans-serif;
  --main-grey: rgb(223, 232, 238);
  --main-lightgrey: rgb(245, 249, 252);
  --main-darkgrey: rgb(49, 70, 88);
  --main-white: rgb(255, 255, 255);
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--main-darkgrey)
}

header, .main, .features {
  width: 100%;
  background-color: var(--main-lightgrey);
  overflow: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

li {
  list-style: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* HEADER */
header {
  color: var(--main-darkgrey);
}

.hamburger {
  float: left;
  padding-left: 10px;
  font-size: 2em;
  color: var(--main-darkgrey);
}

header h1 {
  text-align: center;
}

@media screen and (max-width: 1023px) {
  nav li, nav h3, nav a {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 2560px) {
  nav h3 {
    width: 30%;
    padding-left: 75px;
    margin-top: 0;
    float: left;
  }

  nav h1, hr, .hamburger {
    display: none;
  }

  .nav-links {
    width: 100%;
  }

  nav li {
    width: 10%;
    display: block;
    float: left;
  }

  nav a {
    width: 30%;
    margin-left: 20%;
    background-color: var(--main-darkgrey);
    color: var(--main-white);
    padding: 1% 2%;
  }
}

/* BODY 1: MAIN CONTENT */
img {
  width: 100%;
  height: 100%;
}

input {
  background-color: var(--main-grey);
  width: 90%;
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
}

button {
  background-color: var(--main-darkgrey);
  color: white;
  font-weight: bold;
  width: 90%;
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
}

.main {
  padding: 2em 2em 2em 2em;
}

.main h1 {
  font-weight: bold;
  font-size: 3em;
  color: var(--main-darkgrey);
}

.main p {
  font-size: 1.25em;
  margin: 1em 1em 1em 1em;
}

@media (min-width: 1024px) and (max-width: 2560px) {
  .main-tagline {
    width: 50%;
    float: left;
    padding: 10%;
  }

  .user-input input {
    width: 80%;
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .user-input button {
    width: 20%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .main-img {
    width: 50%;
    float: right;
  }
}

/* MAIN SECTION 2: FEATURES */

.features {
  text-align: center;
}

.feature-one, .feature-two, .feature-three, .feature-four {
  padding: .5em .5em .5em .5em;
  margin: 1em 1em 1em 1em;
}

.features a {
  color: var(--main-darkgrey);
  font-weight: bold;
}

/* MAIN SECTION 3: COLLECTING INFO */
.collect-info h1 {
  font-size: 4em;
}

.collect-info p {
  font-size: 1.4em;
  color: rgb(134, 148, 172);
}

@media (min-width: 1024px) and (max-width: 2560px) {
  .feature-one, .feature-two, .feature-three, .feature-four {
    width: 25%;
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
}

/* footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hr-divider {
  display: none;
}

hr {
  clear: both;
}